body {
	background-color: #fafafa;
}

#logo_top_div {
	background: url('/storages/avatars/logo.png')  no-repeat center center;
}

#top_nav {
	background-color: #777777;
}
.nav_button:hover {
	background-color: #aaaaaa;
}

.nav_button span {
	color: #ffffff;
}

#main_land {
	background-color: #ffffff;
}

#top_path {
	background-color: #dddddd;
}

#top_path ol li:before {
	color: #ffffff;
}

.land_top {
	background-color: #eeeeee;
}

.land_top .land_button span {
	font-size: 20px;
	color: #555555
}

.land_top .land_button:hover {
	background-color: #f5f5f5;
}

.land_top .land_button_active,
.land_top .land_button_active:hover {
	background-color: #ffffff;
}

#footer p {
	color: grey;
}

.font1 {
	color: #000000;
}

.font2 {
	color: #777777;
}

.problem_list_raw td span.glyphicon{
	color: #666666;
}

#pagination_ul li.pagination_ul_button a {
    background-color: #f9f9f9;
    border-color: #ddd;
    color: #666666;    
}

#pagination_ul li.pagination_ul_text a{
    background-color: #ffffff;
    border-color: #ddd;
    color: #666666;  
}

#pagination_ul li.pagination_ul_button a:hover {
    background-color: #f5f5f5;
}

#pagination_ul li.pagination_ul_text a:hover {
    background-color: #fcfcfc;
}

#problem_search_filter input:focus {
    border-color: #aaaaaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6)
}

#problem_search_list th:hover {
    background-color: #f0f0f0;
}


.code_viewer table tr:hover {
	background-color: #fafafa;
}

.code_viewer .code_viewer_rownum {
	border-right: 1px solid #dddddd;
	color: #777777;
}


.code_viewer .code_viewer_header {
	background-color: #888888;
	color: #ffffff;
}

#single_problem_bs:hover,	
#single_problem_bu:hover {
	background-color: #838383;
}

#single_problem_bs,	
#single_problem_bu {
	background-color: #555555;
	color: #ffffff;
}

.single_problem_bu_disable,
.single_problem_bu_disable:hover {
	background-color: #aaaaaa !important;
}

#single_problem_comment_table tr {
	border-bottom: 1px solid #ddd;
}

#single_problem_comment_table .comment_content {
	background-color: #fcfcfc;
}

#single_problem_comment_div .comment_user span {
	color: #999999;
}

#comment_post div {
	border-left: 1px solid #ddd;
}

#comment_post_text {
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
}

#comment_post_text:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6);
    outline-style: none;
}

#comment_post div {
	background-color: #fafafa;
}

#comment_post_text_clear,
#comment_post_text_submit {
	color: #aaaaaa;
}

#single_problem_rank_table th:hover {
    background-color: #f0f0f0;
}

#contest_search_filter input:focus {
    border-color: #aaaaaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6)
}

#contest_search_filter_hint {
	color: #999999;
}

#status_filter input:focus {
    border-color: #aaaaaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6);
}

#blog_filter input:focus {
    border-color: #aaaaaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6);
}

textarea:focus {
    border-color: #aaaaaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(221,221,221,.6);
    outline-style: none;
}