body {
	margin: 0;
    overflow-y: scroll; 
}

.binded:hover {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.nav_button {
	width: 85px;
	height: 100%;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

#top_nav {
	width: 100%;
	height: 65px;
	text-align: center;
	min-width: 1000px;
}

.top_mid {
	margin: auto;
	height: 100%;
	display: inline-block;
}

.nav_button:hover {
	cursor: pointer;
}

.nav_button .glyphicon {
	font-size: 27px;
}

#main_land {
	width:900px;
	min-height:120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	-webkit-box-shadow: 0px 1px 5px;  
	-moz-box-shadow: 0px 1px 5px;  
	box-shadow: 0px 1px 5px;
	margin-bottom: 15px;
}


#top_path {
	padding-left: 150px;
	width: 100%;
	height: 1.5em;
}

#top_path ol {
	padding: unset;
	margin-bottom: unset;
	background-color: unset;
	padding-left: 35px;
}

.avatar_top {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-bottom: -1px;
}

#avatar_top_div {
	display: inline-block;
	width: 180px;
	height: 65px;
	margin-right: 10px;
}

#logo_top_div {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 180px;
	height: 65px;
	top: 0px;
	margin-left: 10px;
}

#avatar_top_div div.nav_button,
#logo_top_div div.nav_button {
	width: 100%;
}

#avatar_top_left,
#avatar_top_right {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

#avatar_top_left {
	width: 55px;
	text-align: center;
}
#avatar_top_right {
	padding-top: 5px;
	width: 120px;
}

.land_top {
	width: 100%;
	height: 40px;
	padding-left: 10px;
}
.land_top .land_button {
	padding-top: 8px;
	width: 50px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

.land_top .land_button span {
	font-size: 20px;
}

.land_top .land_button_active {
	cursor: auto;
}

.land_content {
	width: 100%;
	padding: 10px 20px;
}

#footer {
	width: 100%;
	height: 70px;
	margin-top: 60px;
}
#footer p {
	text-align: center;
}
#footer p a {
	padding: 0px 20px;
}

/* Loader */

#load_pad {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 150px;
}

#load_failed span{
    font-size: 17px;
    padding: 0px 10px;
}

.avatar_mid {
	width: 50px;
	height: 50px;
	border-radius: 50px
}

/* Home */

#notice_top {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	height: 60px;
}

#notice_title {
	padding-left: 15px;
}

#notice_title span:nth-of-type(1){
	font-size: 25px;
}

#notice_title span:nth-of-type(2){
	font-size: 13px;
}

#notice_content {
	width: 100%;
	padding-left: 90px;
	padding-right: 60px;
	padding-bottom: 25px;
}
#notice_hr {
	margin-left: 75px;
}

/* Problems */


#problem_list {
	width: 800px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	text-align: center;
}


#problem_list_header #flag {
    width: 60px;
    text-align: center;
}
#problem_list_header #id {
	width: 70px;
	text-align: center;
}

#problem_list_header #name {
	width: 460px;
}

#problem_list_header #ac,
#problem_list_header #all {
	width: 60px;
	text-align: center;
}

#problem_list_header #source {
	width: 90px;
	text-align: center;
}

.problem_list_raw td:nth-of-type(3){
	text-align: left;
}

.problem_list_raw td span.glyphicon{
	font-size: 15px;
}

#problems_pagination {
	width: 100%;
	height: 60px;
	margin-bottom: 25px;
}

#pagination_ul {
    text-align: center;
    padding-left: 0px;
}

#pagination_ul li {
    display: inline-block;
}

#pagination_ul li a {
    padding: 6px 12px;
    margin-left: -5px;
    border: 1px solid;
    text-decoration: none;
    float: left;
}

#pagination_ul li.pagination_ul_text a {
    width: 300px;
}

#problem_search_div {
    padding: 15px 30px;
    height:55px;
}

#problem_search_filter {
    width: 500px;
    float: left;
}

#problem_search_filter div,
#problem_search_filter input {
    border-radius: 0px;
}

#problem_search_filter div span {
    font-size: 17px;
}

#problem_search_list {
	width: 800px;
	margin-left: 30px;
	margin-right: 25px;
	margin-top: 25px;
	text-align: center;
}

#problem_search_list th:hover {
    cursor: pointer;
}

#problem_search_filter span.glyphicon {
    z-index: 4;
}

/* Single Problem */

#single_problem_description {
	padding-bottom: 15px;
	padding: 0px 15px;
}

.code_viewer div.panel.panel-default {
	width: 800px;
	margin-left: 30px;
	/*margin-top: 25px;*/
	border-radius: 0px;
	
}

.code_viewer div.panel-heading {
	padding-top: 4px;
	height: 25px;
	font-size: 13px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.code_viewer div.panel-heading #lang,
.code_viewer div.panel-heading #author {
	color: #909090;
}

.code_viewer pre {
	background-color: unset;
	border: unset;
	padding: unset;
	border-radius: 0px;
	margin: 0;

}

.code_viewer table {
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
}

.code_viewer .code_viewer_rownum {
	width: 30px;
	text-align: right;
	padding-right: 10px;
	padding-left: 25px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.code_viewer .code_viewer_rownum::before {
	content: attr(line-number)
}

.code_viewer .code_viewer_rowcontent {
	text-align: left;
	padding-left: 5px;
}

/* Upload Select&Upload button */
#single_problem_bs,	
#single_problem_bu {
	width: 65px;
	height: 25px;
	padding-top: 2px;
	text-align: center;
	display: inline-block;
	margin-left: -4px;
}

#single_problem_upload {
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

#single_problem_bs:hover,	
#single_problem_bu:hover {
	cursor: pointer;
}

#single_problem_upload_progress {
	width: 500px;
	display: inline-block;
	padding-top: 20px;
}
#single_problem_upload_progress .progress{
	width: 100%;
	height: 25px;
	border-radius: 0px;
	margin-bottom: -8px;
	margin-left: -4px;
}

.single_problem_bu_disable:hover {
	cursor: not-allowed !important;
}


#single_problem_comment_div {
	width: 800px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 25px;
}

#single_problem_comment_table {
	width: 100%;
}

#single_problem_comment_div div.panel {
	border-radius: 0px;
}

#single_problem_comment_div .comment_user div {
	min-height: 150px;
}

#single_problem_comment_div .comment_user {
	width: 100px;
	text-align: center;
}

#single_problem_comment_div .comment_user img {
	margin-top: 30px;
}

#single_problem_comment_div .comment_user a {
	margin-top: 10px;
	display: block;
}

#single_problem_comment_table .comment_content {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;

}

#comments_pagination {
	width: 100%;
	height: 60px;
}

#comment_post_text {
	width: 700px;
	height: 130px;
	position: relative;
	top: 0px;
	left: 1px;
	margin-top: -1px;
	margin-left: -2px;
	resize: none;
}

#comment_post div {
	height: 150px;
}

#comment_post div p {
	margin-top: -5px;
	padding-left: 550px;
}

#comment_post_text_clear {
	margin-right: 20px;
}

#comment_post_text_submit {
	margin-right: 5px;
}

#comment_post div p img {
	padding-bottom: 2px;
}

#comment_post_text_clear:hover,
#comment_post_text_submit:hover {
	cursor: pointer;
}


#single_problem_rank {
	width: 800px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 25px;
}

#single_problem_rank_table {
	width: 100%;
}

#single_problem_rank_table #rank {
	width: 60px;
}

#single_problem_rank_table #author {
	width: 310px;
}

#single_problem_rank_table #memory,
#single_problem_rank_table #length {
	width: 70px;
}

#single_problem_rank_table #score,
#single_problem_rank_table #time {
	width: 60px;
}

#single_problem_rank_table #date {
	width: 150px !important;
}

#single_problem_rank_table #rank,
#single_problem_rank_table #author,
#single_problem_rank_table #memory,
#single_problem_rank_table #length,
#single_problem_rank_table #score,
#single_problem_rank_table #time,
#single_problem_rank_table #date {
	text-align: center;
}

#single_problem_rank_table {
	text-align: center;
}

#single_problem_rank_table th:hover {
    cursor: pointer;
}

/* Contest */

#contest_list_div {
	width: 800px;
	margin-left: 30px;
	margin-top: 30px;
}

#contest_list {
	width: 100%;
	text-align: center;
}

#contest_list #id,
#contest_list #rank,
#contest_list #all {
	width: 60px;
}
#contest_list #name {
	width: 340px;
}
#contest_list #start,
#contest_list #end {
	width: 140px !important;
}

#contest_list th {
	text-align: center;
}

#contests_pagination {
	margin-bottom: 25px;
	height: 60px;
	width: 100%;
}

#contest_search_div {
	margin: 15px 30px;
}

#contest_search_filter {
	width: 500px;
}

#contest_search_filter div {
	border-radius: 0px;
}

#contest_search_filter_text,
#contest_search_filter_hint {
	width: 461px;
	border-radius: 0px;
}

#contest_search_filter_text {
	background-color: transparent;
	position: absolute;
	left: 39px;
	top: 0px;
	z-index: 2;
}

#contest_search_filter_hint {
	background-color: #ffffff;
	z-index: 1;
}

#contest_search_list_div {
	width: 800px;
	margin-left: 30px;
}
#contest_search_list {
	margin-top: 25px;
}

#notice_time_divider {
	padding: 0px 10px;
}


#contest_problem_list_div {
	width:  800px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 35px;
}

#contest_problem_list {
	width: 100%;
}

#contest_problem_list_header #id {
	width: 60px;
	text-align: center;
}

#contest_problem_list_header #score {
	width: 100px;
	text-align: center;
}

#contest_problem_list tr td:nth-of-type(1),
#contest_problem_list tr td:nth-of-type(3) {
	text-align: center;
}

#status_div {
    padding: 15px 30px;
    height:55px;
}

#status_filter {
    width: 500px;
    float: left;
}

#status_filter div,
#status_filter input {
    border-radius: 0px;
}

#status_filter div span {
    font-size: 17px;
}

#status_filter span.glyphicon {
    z-index: 4;
}

#status_list_div {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#status_list {
	width: 100%;
	text-align: center;
}

#status_list #id {
	width: 80px;
	text-align: center;
}

#status_list #name {
	width: 250px;
	text-align: center;
}

#status_list #author {
	width: 200px;
	text-align: center;
}


#status_list #time,
#status_list #score {
	width: 60px;
	text-align: center;
}

#status_list #date {
	width: 150px !important;
	text-align: center;
}

#status_pagination {
	width: 100%;
	height: 60px;
	margin-bottom: 25px;
}

#contest_rank_div {
	overflow-x: auto;
	overflow-y: hidden;
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 25px;

}
#contest_rank {
	min-width: 800px;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: -1px;
	border-width: 0px;
}

#contest_rank tr td:first-child,
#contest_rank tr th:first-child {
	border-left: none;
}

#contest_rank tr td:last-child,
#contest_rank tr th:last-child {
	border-right: none;
}

#contest_rank_header th {
	min-width: 50px;
}

#contest_rank #rank {
	min-width: 80px;
}
#contest_rank #name {
	min-width: 200px;
}
#contest_rank #total {
	min-width: 100px;
}

#contest_rank tr th,
#contest_rank {
	text-align: center;
}

#contest_rank_pagination {
	width: 100%;
	height: 60px;
	margin-bottom: 25px;
}

/* Battle */

#battle_rank {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#battle_rank_table {
	text-align: center;
}

#battle_rank_table #rank {
	width: 80px;
	text-align: center;
}

#battle_rank_table #name {
	width: 320px;
	text-align: center;
}

#battle_rank_table #number,
#battle_rank_table #level {
	width: 100px;
	text-align: center;
}

#battle_rank_table #date {
	width: 200px;
	text-align: center;
}

#submission_info {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 35px;
}

#submission_info_std td:first-child {
	width: 200px;
	text-align: center;
	font-weight: bold;
}

#submission_info_std td:last-child {
	width: 600px;
	text-align: center;
}

#submission_result {
	width: 800px;
	margin-top: 25px;
	margin-left: 30px;
	margin-bottom: 35px;
}

table.normal-score-table tr:first-child,
table.normal-score-table tr:first-child th,
table.normal-score-table tr:first-child td {
	border-top: none;
}

table.normal-score-table {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

div.normal-score-table {
	text-align: center;
	width: 800px;
}

hr.submission_hr {
	width: 820px;
	margin-left: 20px;
}

#status_code {
	margin-top: 25px;
	margin-bottom: 35px;
}

/* Blog */

#blog_list_div {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
}

#blog_list {
	text-align: center;
}

#blog_list #flag {
	width: 80px;
	text-align: center;
}

#blog_list #name {
	width: 420px;
}

#blog_list #author {
	width: 150px;
	text-align: center;
}

#blog_list #date {
	width: 150px;
	text-align: center;
}

.blog_list_row td:nth-of-type(2) {
	text-align: left;
}


#blog_search_div {
    padding: 15px 30px;
    height:55px;
}
#blog_filter {
    width: 500px;
    float: left;
}

#blog_filter div,
#blog_filter input {
    border-radius: 0px;
}

#blog_filter div span {
    font-size: 17px;
}

#blog_search_list_div {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
}

#blog_filter span.glyphicon {
    z-index: 4;
}

/* single blog */

#blog_header {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
}

#blog_title {
	font-size: 30px;
}

.avatar_sm {
	width: 25px;
	height: 25px;
	border-radius: 25px
}

#blog_avatar {
	margin-left: 7px;
	margin-right: 0px;
	margin-top: -4px;
}

#blog_content {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 35px;
}

/* User */
#user_info_top {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	height: 60px;
}
#user_info_name {
	font-size: 30px;
	padding-top: 10px;
	margin-left: 20px;
}
#user_info_avatar {
	border: 1px solid #eee;
}
.user_info_hr {
	margin: 10px 20px;
}
#user_info_problem {
	display: inline-block;
	margin-left: 25px;
	padding-top: 30px;
}
#user_info_problem #ac_w,
#user_info_problem #total_w {
	margin-left: 20px;
}
#user_info_contest {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
}
.container {
	width: 800px;
	height: 300px;
}
#user_info_submission {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 35px;
}
#user_info_main {
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	padding: 0px 24px;
}

/* Highcharts */
svg text[text-anchor=end] {
	display: none;
}