<div id="user_info_top">
	<div class="pull-left" style="padding-top:5px;">
		<img class="avatar_mid" id="user_info_avatar" />
	</div>
	<div id="user_info_name" class="pull-left">
		<span class="font1">This is the first notice!</span><br>
	</div>
	<div id="user_info_problem">
		<span id="level" class="font2"></span>
		<span id="ac_w" class="font2">AC : </span>
		<span id="ac" class="font2"></span>
		<span id="total_w" class="font2">Total : </span>
		<span id="total" class="font2"></span>
	</div>
</div>
<hr class="user_info_hr">
<div id="user_info_main">
</div>
<hr class="user_info_hr">
<div id="user_info_contest">
	<div class="container">
	</div>
</div>
<hr class="user_info_hr">
<div id="user_info_submission">
	<div class="container">
	</div>
</div>