
<div id="status_list_div">
	<table id="status_list" class="table table-bordered table-striped table-hover">
		<tr id="status_list_header">
			<th id="id">ID</th>
			<th id="name">Name</th>
			<th id="author">Author</th>
			<th id="score">Score</th>
			<th id="length">Length</th>
			<th id="date">date</th>
		</tr>
		<tr class="status_list_row">
			<td>#3</td>
			<td>A + B Problem</td>
			<td>a710128</td>
			<td>100</td>
			<td>1000kb</td>
			<td>2016-08-01 00:03:00</td>
		</tr>
		<tr class="status_list_row">
			<td>#2</td>
			<td>A + B Problem</td>
			<td>a710128</td>
			<td>100</td>
			<td>1000kb</td>
			<td>2016-08-01 00:03:00</td>
		</tr>
		<tr class="status_list_row">
			<td>#1</td>
			<td>A + B Problem</td>
			<td>a710128</td>
			<td>100</td>
			<td>1000kb</td>
			<td>2016-08-01 00:03:00</td>
		</tr>
		
	</table>
</div>

<div id="status_pagination">
    <ul id="pagination_ul">
        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
        <li class="pagination_ul_button"><a href="#">></a></li>
        <li class="pagination_ul_button"><a href="#">>></a></li>
    </ul>
</div>