<div id="single_problem_comment_div">
	<div class="panel panel-default">
		<div class="panel-heading">comments</div>
		<table id="single_problem_comment_table">
			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#1</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						a + b<br>
						1<br>
						<br>
						2<br>
						3<br>
						4<br>
						<br>
						<br>
						5<br>
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#2</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#3</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#4</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#5</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#6</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#7</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#8</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#9</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

			<tr>
				<td class="comment_user">
					<div>
						<img class="avatar_mid" src="storages/avatars/test.jpg" />
						<a>a710128</a>
						<span>#10</span>
					</div>
				</td>
				<td class="comment_content">
					<div>
						test
					</div>
				</td>
			</tr>

		</table>
	</div>

	<div id="comments_pagination">
	    <ul id="pagination_ul">
	        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
	        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
	        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 233</b></a></li>
	        <li class="pagination_ul_button"><a href="#">></a></li>
	        <li class="pagination_ul_button"><a href="#">>></a></li>
	    </ul>
	</div>
</div>