<div id="blog_list_div">
	<table id="blog_list" class="table table-bordered table-striped table-hover">
		<tr id="blog_list_header">
			<th id="flag"></th>
			<th id="name">Name</th>
			<th id="author">Author</th>
			<th id="date">Date</th>
		</tr>
		<tr class="blog_list_row">
			<td><span class="glyphicon glyphicon-bullhorn"></span></td>
			<td>This is the first notice!</td>
			<td>a710128</td>
			<td>2016-07-28 20:22:00</td>
		</tr>
	</table>
</div>
<div id="problems_pagination">
    <ul id="pagination_ul">
        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
        <li class="pagination_ul_button"><a href="#">></a></li>
        <li class="pagination_ul_button"><a href="#">>></a></li>
    </ul>
</div>