<div id="blog_search_div">
    <div id="blog_filter" class="input-group has-feedback">
        <div class="input-group-addon">
            <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>
        </div>
        <input type="text" class="form-control" id="blog_filter_text" placeholder="name, @author or name@author">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    </div>
</div>


<div id="blog_search_list_div">
	<table id="blog_list" class="table table-bordered table-striped table-hover">
		<tr id="blog_list_header">
			<th id="flag"></th>
			<th id="name">Name</th>
			<th id="author">Author</th>
			<th id="date">Date</th>
		</tr>
		<tr>
			<td colspan="4">Empty</td>
		</tr>
	</table>
</div>
<div id="problems_pagination">
    <ul id="pagination_ul">
        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
        <li class="pagination_ul_button"><a href="#">></a></li>
        <li class="pagination_ul_button"><a href="#">>></a></li>
    </ul>
</div>