<div id="battle_rank">
	<table id="battle_rank_table" class="table table-bordered table-striped table-hover">
		<tr>
			<th id="rank">Rank</th>
			<th id="name">Name</th>
			<th id="level">Level</th>
			<th id="number">Number</th>
			<th id="date">Date</th>
		</tr>
		<tr>
			<td>#1</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#2</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#3</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#4</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#5</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#6</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#7</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#8</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#9</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#10</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#11</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#12</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#13</td>
			<td>a710128</td>
			<td>Lv. 5</td>
			<td>233</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#14</td>
			<td>a710128</td>
			<td>Lv. 4</td>
			<td>100</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#15</td>
			<td>a710128</td>
			<td>Lv. 4</td>
			<td>99</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#16</td>
			<td>a710128</td>
			<td>Lv. 3</td>
			<td>50</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#17</td>
			<td>a710128</td>
			<td>Lv. 3</td>
			<td>50</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#18</td>
			<td>a710128</td>
			<td>Lv. 2</td>
			<td>10</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#19</td>
			<td>a710128</td>
			<td>Lv. 2</td>
			<td>9</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
		<tr>
			<td>#20</td>
			<td>a710128</td>
			<td>Lv. 1</td>
			<td>0</td>
			<td>2016-08-01 00:00:00</td>
		</tr>
	</table>

	<div id="rank_pagination">
	    <ul id="pagination_ul">
	        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
	        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
	        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 233</b></a></li>
	        <li class="pagination_ul_button"><a href="#">></a></li>
	        <li class="pagination_ul_button"><a href="#">>></a></li>
	    </ul>
	</div>
</div>