<div id="contest_search_div">
    <div id="contest_search_filter" class="input-group has-feedback">
        <div class="input-group-addon">
            <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>
        </div>
        <div>
            <input type="text" class="form-control" tabindex="1" id="contest_search_filter_text" placeholder="Contest name or @current, @coming, @past, @acm, @oi">
            <input type="text" class="form-control" tabindex="2" readonly id="contest_search_filter_hint" >
        </div>
    </div>
    
</div>

<div id="contest_list_div">
    <table id="contest_list" class="table table-bordered table-striped table-hover">
        <tr id="contest_list_header">
            <th id="id">ID</th>
            <th id="name">Name</th>
            <th id="start">Start</th>
            <th id="end">End</th>
            <th id="rank">Rank</th>
            <th id="all">All</th>
        </tr>
        <tr>
            <td colspan="6">Empty</td>
        </tr>
    </table>
</div>

<div id="contests_pagination">
    <ul id="pagination_ul">
        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
        <li class="pagination_ul_button"><a href="#">></a></li>
        <li class="pagination_ul_button"><a href="#">>></a></li>
    </ul>
</div>