<div id="submission_info">
	<table id="submission_info_std" class="table table-striped table-bordered table-hover">
		<tr class="submission_info_row">
			<td>#ID : </td><td id="id"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Status : </td><td id="status"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Problem : </td><td id="problem"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Author : </td><td id="author"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Memory : </td><td id="memory"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Time : </td><td id="time"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Length : </td><td id="length"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Score : </td><td id="score"></td>
		</tr>
		<tr class="submission_info_row">
			<td>Date : </td><td id="date"></td>
		</tr>
	</table>
</div>

