<div id="notice_top">
	<div class="pull-left" style="padding-top:5px;">
		<img class="avatar_mid" src="storages/avatars/test2.jpg" />
	</div>
	<div id="notice_title" class="pull-left">
		<span class="font1">A + B Contest</span><br>
		<span class="font2">OI</span><span class="font2" id="notice_time_divider">:</span><span class="font2">2016-08-01 00:00</span><span class="font2" id="notice_time_divider">~</span><span class="font2">2016-08-01 00:05</span>
	</div>
</div>
<hr id="notice_hr">
<div id="notice_content">
	<p>Hi everyone!</p>
	<p>I want to present you the A + B Contest that will take place on the 1st of August at 00:00 CST. The contest was prepared by myyes.</p>
	<p>Good luck in the contest!!</p>
</div>