<div id="contest_rank_div" class="table-bordered">
	<table id="contest_rank" class="table  table-bordered table-striped table-hover">
		<tr id="contest_rank_header">
			<th id="rank">Rank</th>
			<th id="name">Name</th>
			<th id="total">Total</th>
			<th id="prb1">#1</th>
			<th id="prb2">#2</th>
			<th id="prb3">#3</th>
		</tr>
		<tr class="contest_rank_row">
			<td>#1</td>
			<td>a710128</td>
			<td>300</td>
			<td>100</td>
			<td>100</td>
			<td>100</td>
		</tr>
		<tr class="contest_rank_row">
			<td>#2</td>
			<td>a710128</td>
			<td>300</td>
			<td>100</td>
			<td>100</td>
			<td>100</td>
		</tr>
	</table>
</div>

<div id="contest_rank_pagination">
	<ul id="pagination_ul">
		<li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
		<li class="pagination_ul_button"><a href="#">&lt;</a></li>
		<li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
		<li class="pagination_ul_button"><a href="#">></a></li>
		<li class="pagination_ul_button"><a href="#">>></a></li>
	</ul>
</div>