<div id="status_div">
    <div id="status_filter" class="input-group has-feedback">
        <div class="input-group-addon">
            <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>
        </div>
        <input type="text" class="form-control" id="status_filter_text" placeholder="author, #problem_id or author#problem_id">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    </div>
</div>

<div id="status_list_div">
	<table id="status_list" class="table table-bordered table-striped table-hover">
		<tr id="status_list_header">
			<th id="id">ID</th>
			<th id="name">Name</th>
			<th id="author">Author</th>
			<th id="score">Score</th>
			<th id="length">Length</th>
			<th id="date">date</th>
		</tr>
	<!--
		<tr class="status_list_row">
			<td>#1</td>
			<td>A + B Problem</td>
			<td>a710128</td>
			<td>100</td>
			<td>1000kb</td>
			<td>2016-08-01 00:03:00</td>
		</tr>
	-->
        <tr>
            <td colspan="6">
                <span>Empty</span>
            </td>
        </tr>
	</table>
</div>

<div id="status_pagination">
    <ul id="pagination_ul">
        <li class="pagination_ul_button"><a href="#">&lt;&lt;</a></li>
        <li class="pagination_ul_button"><a href="#">&lt;</a></li>
        <li class="pagination_ul_text"><a href="#"><b>Page 1 of 1</b></a></li>
        <li class="pagination_ul_button"><a href="#">></a></li>
        <li class="pagination_ul_button"><a href="#">>></a></li>
    </ul>
</div>